{% extends "../base.html" %}
{% block title %}Note List{% endblock title %}
{% block body %}
<h1>Notes</h1>
<div class="table-responsive">


<table class="table table-striped table-sm">
<thead>
    <tr>
    <th>Priority</th>
    <th>Task</th>
    <th>Reminder</th>
    <th>Date</th>
    <th>New Note</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for note in object_list %}
    <tr>
    <td>{{note.Priority}}</td>
    <td>{{note.Task}}</td>
    <td>{{note.Reminder}}</td>
    <td>{{note.Date}}</td>
    <td><a href="{% url "note_new" %}">New</a></td>
    <td><a href="{% url "note_view" note.id %}">view</a></td>
    <td><a href="{% url "note_edit" note.id %}">edit</a></td>
    <td><a href="{% url "note_delete" note.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock body %}
